:root {
  --pico-font-size: 16px;
  --pico-form-element-spacing-vertical: 0.25rem;
  --pico-spacing: 0;
}

html, body {
  overflow: hidden;
}

#gameOfLifeCanvas {
  background-color: #000; 
}

#controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  max-width: 14rem;
}

